<div>
  <button class="btn btn-lg btn-primary" routerLink='add'>Add a new post</button>
</div>

<div class="card-container">
  <div class="card text-left" *ngFor="let post of posts">

    <div class="card-header">
      <span class="img_user"><img [src]="post.user.image_url" ></span>
      <div class="user_info">
        <h4 class="text-center">by {{ post.user.pseudo }}</h4>
        <div *ngIf="is_admin === true">
        <a (click)="onViewUser(post.user.id)">View User profile here</a>
        </div>
        <p class="text-center">{{ post.createdAt | dateAgo }}</p>
      </div>

    </div>

    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{ post.content }}</p>
      <div class="text-muted">
        <a (click)="onViewPost(post.id)">View Post here</a>
        <p>Number of comments: {{ post.comments.length }}</p>
      </div>
    </div>

  </div>
</div>
