<div class="card-footer">
  <button class="btn btn-lg btn-primary" routerLink='add'>Add a new post</button>
</div>

<div class="card text-left" *ngFor="let post of posts">
  <div class="card-header">
    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1-mini.jpg" >
    <h5 class="text-primary text-center">Popol</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.content }}</p>
    <div class="text-muted">
      <p class="text-left text-primary">{{ post.createdAt | date: 'short' }}</p>
      <p class="text-right text-primary" style="cursor: pointer;"><a (click)="onLike()">Likes {{post.likes}} </a></p>
    </div>
  </div>
  <div class="card-footer text-muted">
    <input type="text" name="comment" placeholder="Add a comment" formControlName="comment">
    <button class="btn btn-success">Add a comment</button>
  </div>
</div>