.card {
    margin: 35px 0;
    -webkit-box-shadow: 0px 3px 4px 4px rgba(181,181,181,0.96);
            box-shadow: 0px 3px 4px 4px rgba(181,181,181,0.96);
    max-height: max-content;
}

.container {
  background-color: rgb(187,196,204,0.3);

}

.card-footer p {
    padding : 5px;
    border-bottom: 1px solid #BDBDBD;
    margin: 5px;
}

.card-header {
    display: flex;
    border-bottom: 1px solid #BDBDBD;
    background-image: linear-gradient(to bottom, #1f2f48, #2c3854, #3a4160, #484b6c, #575478, #615a80, #6c6187, #77678f, #7f6c95, #88719a, #9076a0, #997ba5);
    color: #f9b2d8;
}

.card-header h4, .pseudo{
    margin: 25px 25px 0 25px;
}

.card-title {
  color: #1f2f48;
  text-align: center;
  padding-top: 10px;
}

.card-text {
  text-align: justify;
  margin: 25px 25px 0 25px;
  padding: 30px 5px;
  border-bottom: 2px solid rgba(209,86,94,.4);
  border-top: 2px solid rgba(209,86,94,.4);
  color: #1f2f48;
}

.btn-add {
  color: #f9b2d8;
  width: max-content;
  font-weight: bold;
}
.btn-add:hover {
  text-decoration: underline #f9b2d8;
}

.user_info {
    width: 80%;
}

.card-footer {
    border-top: 1px solid #BDBDBD;
    background-image: linear-gradient(to top, #1f2f48, #2c3854, #3a4160, #484b6c, #575478, #615a80, #6c6187, #77678f, #7f6c95, #88719a, #9076a0, #997ba5);
    color: #f9b2d8;
}

label {
    width: 25%;
    font-weight: 500;
    align-self: center;
}
input {
    width: 70%;
    height: max-content;
    align-self: center;
}

.btn {
    margin: 10px
}

.img_user img {
  margin: 15px 5px 0;
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 0.8px rgba(249,178,216,0.96);
}

.pseudo {
  text-transform: uppercase;
  color: #1f2f48;
}

.text-muted {
  margin-top: 20px;
  height: max-content;
}

.card-body {
  height: min-content;
}

.form-control {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1000px) {

  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    width: 47%;
    margin: 10px;
  }
  label {
    display: none;
  }
}
