<div class="jumbotron text-center" *ngIf='showTitle() === true'>
  Add a Post
</div>
<div class="jumbotron text-center" *ngIf='showTitle() === false'>
  Modify my Post
</div>

<form [formGroup]="postForm" *ngIf="!loading">
  <div class="form-group">
    <label for="title">Title :</label>
    <input type="text" class="form-control" id="title" formControlName="title">
  </div>
  <div class="form-group">
    <label for="content">Message:</label>
    <input type="text" class="form-control" id="content" formControlName="content">
  </div>

  <button class="btn btn-primary" (click)="onSubmit()" [disabled]="postForm.invalid">Submit</button>

  <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
</form>
