<div class="jumbotron text-center">
    Add a Post
</div>

<mat-spinner *ngIf="loading"></mat-spinner>

<form [formGroup]="postForm" *ngIf="!loading">
  <div class="form-group">
    <label for="title">Title :</label>
    <input type="text" class="form-control" id="title" formControlName="title">
  </div>
  <div class="form-group">
    <label for="content">Your message :</label>
    <input type="text" class="form-control" id="content" formControlName="content">
  </div>

  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="postForm.invalid">Add my message</button>

  <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
</form>
