@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,700;0,800;1,200&display=swap');
* {
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
  background-color: rgb(31,47,72);

}

.jumbotron img{
  background-size: cover;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 0;
  opacity: 0.8;
}

.container {
  position: static;
  width: 100%;
}
.row {
  width: 100%;
}

.container-info {
    display: flex;
    flex-direction: column;
    height: 450px;
    float: right;
    margin-top: 2%;
    text-align: center;
}

.nav-link {
    color: #d1565e;
}

.nav-link:hover {
    font-weight: bolder;
}
