<div class="jumbotron">
    <h1>Welcome to Groupomania Social</h1>
    <div class="container-info">
        <p class="lead">"You have to learn to know, to know to understand, to understand to judge."</p>
        <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="navbar fixed-top navbar-dark bg-dark">
                <ul class="nav">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="dashboard/messages">Messages</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="dashboard/images">Photos</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="user" (click)="onClickUser()">Profil</a>
                    </li>
                </ul>
                
                <ul class="nav navbar-right">
                    <li class="nav-item" routerLinkActive="active" *ngIf="isAuth == false">
                        <a routerLink="auth/signup" class="nav-link">Signup</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" *ngIf="isAuth == false">
                        <a routerLink="auth/signin" class="nav-link">Signin</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" *ngIf="isAuth == true">
                        <a class="nav-link" (click)="onSignout()">Signout</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>    
</div>