@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,700;0,800;1,200&display=swap');
* {
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
    background-image: url("https://wallpaperaccess.com/full/2581470.jpg");
    background-size: cover;
    height: 400px;
    object-fit: cover;
    margin-bottom: 0;
}

.jumbotron h1 {
    margin-top: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.container-info {
    display: flex;
    flex-direction: column;
    width: 450px;
    float: right;
    margin-top: 2%;
    text-align: center;
}

.nav-link {
    color: #f2f2f2;
}

.nav-link:hover {
    font-weight: bolder;
}

.fa-user-alt {
    background-color: white;
}