

.jumbotron {
  background: rgb(209,86,94);
  background: linear-gradient(0deg,
            rgba(209,86,94,0.4) 0%,
            rgba(242,221,226,0.4) 51%,
            rgba(164,100,117,0.4) 100%);
}

.jumbotron img{
  background-size: cover;
  width: 70%;
  height: auto;
  object-fit: cover;
  margin: 20px auto;
  opacity: 0.8;
}

.container {
  position: static;
  width: 100%;
}
.row {
  width: 100%;
}

.logo {
  display: flex;
  align-self: center;
}
.menu_nav {
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.container-info {
    display: flex;
    flex-direction: column;
    height: 450px;
    float: right;
    margin-top: 2%;
    text-align: center;
}

.nav-link span {
margin-left: 8px;
padding: 0;
}

.nav-link {
    color: rgb(31,47,72);
    width: 100%;
}

.nav-item:hover {
    font-weight: bolder;
    border-bottom: 2px solid #d1565e;
}

@media screen and (min-width: 1200px) {

}
