.img_user img {
  margin: 15px 5px 0;
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.pseudo {
  text-transform: uppercase;
  color: #1f2f48;
}

.card-img {
  border-bottom: 2px solid rgba(209,86,94,.4);
  border-top: 2px solid rgba(209,86,94,.4);
  height: max-content;
  display: inline-block;
  padding: 15px;
}

.card-header {
  display: flex;
  border-bottom: 1px solid #BDBDBD;
}

.card-header h4{
  margin: 25px 25px 0 25px;
}

.card-title h4{
  margin: 18px;

}
.user_info {
  width: 80%;
}

.image-post {
  object-fit: cover;
  width: 100%;
}

.likes {
  color: #1f2f48;
  margin: 25px 5px 0 0;
  cursor: pointer;
}

.card {
  margin: 35px 0;
  -webkit-box-shadow: 0px 3px 4px 4px rgba(181,181,181,0.96);
          box-shadow: 0px 3px 4px 4px rgba(181,181,181,0.96);
}

.card-footer p {
  padding : 5px;
  border-bottom: 1px solid #BDBDBD;
  margin: 5px;
}

.card-title {
  color: #1f2f48;
  text-align: center;
}

.card-footer {
  border-top: 1px solid #BDBDBD;
}

label {
  width: 25%;
  font-weight: 500;
}
input {
  width: 75%;
}

.btn {
  margin: 10px
}

.btn-add {
  background-color: rgba(209,86,94,.2);
  color: #1f2f48;
  opacity: 0.7;
  width: max-content;
}
.btn-add:hover {
  background-color: rgba(209,86,94,.6);
  color: #1f2f48;
}

.likes {
  color: #1f2f48;
  margin: 25px 5px 0 0;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 100%;
  height: auto;
}

/* .card-container .card {
  width: 50%;
} */
