<div class="container">
  <div class="card">
    <div class="card-header">
      <div>
        <img [src]="post?.user?.image_url" alt="photo de profil">
        <h1>{{ post?.user?.pseudo }}</h1>
      </div>
      <div>
        <button class="btn btn-primary" *ngIf="post?.user?.is_admin === true || user_id === post?.user_id" (click)="onModify(post?.id)">Modify post</button>
        <button class="btn btn-danger" (click)="onDelete()">Delete post and all comments</button>
      </div>
    </div>

    <div class="card-body">
      <h2>{{ post?.title }}</h2>
      <p>{{ post?.content }}</p>
    </div>

    <div class="card-footer">
      <p>{{ post?.createdAt | dateAgo }}</p>
    </div>
  </div>

  <div *ngFor="let comment of post?.comments">
    <h5>Your comment:</h5>
    <p>{{comment?.content}}</p>
  </div>
</div>
