<div class="container">
  <div class="card">
    <div class="card-header">
      <div>
        <img [src]="post?.user?.image_url" alt="photo de profil">
        <h1>{{ post?.user?.pseudo }}</h1>
      </div>
      <div>
        <button class="btn btn-primary" *ngIf="user_id === post?.user_id" (click)="onModify(post?.id)"><i class="far fa-edit"></i>Edit</button>
        <button class="btn btn-danger" *ngIf="user_id === post?.user_id || is_admin === true " (click)="onDelete()"><i class="far fa-trash-alt"></i>Delete</button>
      </div>
    </div>

    <div class="card-body">
      <h2>{{ post?.title }}</h2>
      <p>{{ post?.content }}</p>
    </div>

    <div class="card-footer">
      <p>{{ post?.createdAt | dateAgo }}</p>
      <p>Number of comments: {{ post?.comments?.length }}</p>
    </div>
  </div>

  <div>
    <h5>All comments:</h5>
    <a routerLink="comments/add">Add a comment</a>

    <div *ngFor="let comment of post?.comments">
      <img [src]=" comment?.user?.image_url" alt="photo de profil">
      <p>{{comment?.content}} -- by {{ comment.user?.pseudo }}</p>

      <p>{{ comment?.createdAt | dateAgo }}</p>
    </div>
  </div>

</div>
