<div class="jumbotron">
    <h1 style="text-align: center;">Enregistrer un compte</h1>
</div>

<form [formGroup]="signupForm">
  <div class="form-group">
    <label for="pseudo">Pseudo</label>
    <input type="pseudo" class="form-control" id="pseudo" formControlName="pseudo">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" formControlName="email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password">
  </div>
  <button class="btn btn-lg btn-success" [disabled]="signupForm.invalid" (click)="onSignup()">Register me !</button>
  <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
</form>