<mat-spinner *ngIf="loading"></mat-spinner>
<div class="container" *ngIf="!loading">
  <img [src]="user?.imageUrl" alt="">
  <div class="info">
    <h1 class="pseudo">{{ user?.pseudo }}</h1>
    <p class="email">{{ user?.email }}</p>
    
    <div class="like-buttons" *ngIf="!likePending">
      <div class="likes">
        <i [ngClass]="{ 'fas liked': liked, 'far': !liked, 'disabled': disliked }" class="like fa-thumbs-up fa-lg" (click)="onLike()"></i>
        <span>{{ user.likes }}</span>
      </div>
    </div>
    <div class="like-pending" *ngIf="likePending">
      <mat-spinner class="white-spinner"></mat-spinner>
    </div>
    <div class="control-buttons">
      <button mat-raised-button (click)="onBack()">BACK</button>
      <button mat-raised-button color="primary" (click)="onModify()" *ngIf="userId === sauce.userId">MODIFY</button>
      <button mat-raised-button color="warn" (click)="onDelete()" *ngIf="userId === sauce.userId">DELETE</button>
    </div>
  </div>
</div>
