<mat-spinner *ngIf="loading"></mat-spinner>
<div class="container" *ngIf="!loading">
  <img [src]="user.image_url" alt="">
  <label class="image-upload-container btn btn-bwm">
    <span>Select Image</span>
    <input #imageInput
           type="file"
           accept="image/*"
           (change)="processFile(imageInput)">
  </label>

  <div class="info">
    <p>Pseudo :</p>
    <h1 class="pseudo">{{ user.pseudo }}</h1><br>

    <p>Email :</p>
    <p class="email">{{ user.email }}</p><br>

    <div class="control-buttons">
      <button class="btn btn-success" (click)="onBack()">Return to my dashboard messages</button>
      <button class="btn btn-primary" (click)="onModify()" *ngIf="user_id === user.id">Modify my profile</button>
      <button class="btn btn-danger" (click)="onDelete()" *ngIf="user_id === user.id">Delete all my posts and my profile</button>
    </div>
  </div>
</div>
